<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurants === 0) { %>
        <p>Unfortunately, we have no restaurants yet - maybe start recommending some?</p>
      <% } else { %>
        <p>Find your next favorite restaurants with help of our other users!</p>
        <p>We found <%= numberOfRestaurants %> restaurants.</p>
        <ul id="restaurants-list">
          <% for (const restaurant of restaurants) { %>
            <%- include('includes/restaurants/restaurant-item', {restaurant: restaurant }) %>
          <% } %>
        </ul>
      <% } %>
    </main>
  </body>
</html>
