<article class="cart-item">
  <div class="cart-item-info">
    <h2><%= item.product.title %></h2>
    <p>$<span class="cart-item-price"><%= item.totalPrice.toFixed(2) %></span> <span class="cart-product-price">($<%= item.product.price.toFixed(2) %>)</span></p>
  </div>

  <form class="cart-item-management" data-productid="<%= item.product.id %>" data-csrf="<%= locals.csrfToken %>">
    <input type="number" value="<%= item.quantity %>" required>
    <button class="btn btn-alt">Update</button>
  </form>
</article>