<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1><%= restaurant.name %></h1>
      <p><%= restaurant.cuisine %> | <%= restaurant.address %></p>
      <p><%= restaurant.description %></p>
      <p><a href="<%= restaurant.website %>">View Website</a></p>
    </main>
  </body>
</html>
