<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main id="product-details">
    <header>
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
      <div id="product-info">
        <h1><%= product.title %></h1>
        <p>$<%= product.price %></p>
        <button>Add to Cart</button>
      </div>
    </header>
    
    <p id="product-description"><%= product.description %></p>
  </main>
<%- include('../../shared/includes/footer') %>